KAGGLE_COMPETITION_NAME=spr-2026-mammography-report-classification
DATASET_SOURCE=kaggle
# HF_DATASET=author/name
DATA_RAW_DIR=data/raw/
TARGET_COLUMN="target"
ID_COLUMN="id"
METRIC="f1_macro"
TASK_TYPE="classification"
DEVICE=cpu  # cpu or cuda
MLFLOW_TRACKING_URI=http://localhost:5000
LOG_ALL_METRICS=False

# MinIO/S3 credentials for artifact storage
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000